.wrapper {
  margin-left: 20px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 400px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  items-content: center;
}
.btn {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  width: 140px;
  height: 30px;
  background: yellow;
  display: flex;
  justify-content: center;
  items-content: center;
}

hr {
  margin-top: 10px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
